body {
    background-color: rgb(181, 215, 237);
}

h1 {
    color: rgb(39, 39, 131);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

footer {
  border: 5px solid white;
  padding: 5px;
  text-align: center;
}

.profilepage {
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px;
}